@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background: url("../../Image/Logo/background_in_space.gif");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  color: rgb(125, 243, 243);
  background-color: #282a35;
  border-bottom: 1px solid rgb(84, 81, 81);
  position: fixed;
  top: 0;
}
nav .brand {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .brand img {
  width: 4rem;
  height: 2.2rem;
}
nav .wrapper-responsive {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .wrapper-responsive .menu-list {
  width: 850px;
}
nav .wrapper-responsive .menu-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  position: absolute;
  height: 40px;
}
nav .wrapper-responsive .menu-list ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
nav .wrapper-responsive .menu-list .null {
  width: 100%;
  height: 39px;
}
nav .wrapper-responsive .form_auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-left: 3rem;
}
nav .wrapper-responsive .form_auth button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  position: relative;
  z-index: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
nav .wrapper-responsive .form_auth button::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}
nav .wrapper-responsive .form_auth button::after {
  z-index: -1;
  content: "";
  position: absolute;
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  border: 2px solid white;
}
nav .wrapper-responsive .form_auth button:hover {
  color: rgb(71, 79, 79);
}
nav .wrapper-responsive .form_auth button:hover::after {
  border: 2px solid lightgreen;
  background-image: linear-gradient(92.88deg, #45b55e 9.16%, #56cc43 43.89%, #67d73f 64.72%);
  transition-duration: 0.1s;
}
@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
nav .wrapper-responsive .form_auth button {
  padding: 8px 8px 4px 13px;
}
nav .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
nav .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  top: -3px;
  left: -5.8px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
nav .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(11, 200, 200);
  border-radius: 3px;
  transition: all 0.5s;
}
nav .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
nav .menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #4ef1e1;
  transform: rotate(45deg) translate(-1px, -1px);
}
nav .menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #4ef1e1;
  transform: rotate(-45deg) translate(-1px, 0);
}
nav .menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

@media screen and (min-width: 768px) {
  nav .wrapper-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav .wrapper-responsive .menu-list ul {
    top: 5rem;
    width: 850px;
  }
}
@media screen and (max-width: 1024px) {
  nav .wrapper-responsive .menu-list ul {
    position: relative;
    width: 700px;
  }
  nav .wrapper-responsive .menu-list .null {
    display: none;
  }
  nav .wrapper-responsive .auth-form {
    margin: 0;
    flex-direction: center;
  }
}
@media screen and (max-width: 900px) {
  nav .wrapper-responsive .menu-list ul {
    position: relative;
    width: 650px;
  }
  nav .wrapper-responsive .menu-list .null {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav .wrapper-responsive .menu-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
  }
  nav .wrapper-responsive .menu-list .null {
    display: none;
  }
}
@media screen and (max-width: 676px) {
  nav .wrapper-responsive {
    margin-top: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    width: 50%;
    height: 400px;
    justify-content: space-evenly;
    background-color: #4ef1e1;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 1;
  }
  nav .wrapper-responsive.slide {
    color: #4ef1e1;
    transform: translateX(0);
    opacity: 1;
  }
  nav .wrapper-responsive .menu-list ul {
    position: absolute;
    display: flex;
    right: 0px;
    top: 0;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
  }
  nav .wrapper-responsive .menu-list .null {
    display: none;
  }
  nav .wrapper-responsive .form_auth {
    width: 120px;
    display: flex;
    flex-direction: center;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  nav .menu-toggle {
    display: flex;
  }
}
* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div.detail {
  display: flex;
  background: linear-gradient(to left, rgb(38, 41, 48) 10%, rgb(0, 149, 255));
  color: white;
  margin-top: 8rem;
}
div.detail section {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
div.detail section#data {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  height: auto;
}
div.detail section#data img#logo {
  width: 40%;
  min-width: 140px;
}
div.detail section#data .top {
  padding: 0% 10%;
  font-size: 150%;
}
div.detail section#data .top h1 {
  margin-top: -5%;
  margin-bottom: 5%;
}
div.detail section#data h5 {
  font-size: 80%;
  margin: 10% 0;
  padding: 0% 10%;
}
div.detail section#data article {
  padding: 10%;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 120%;
  margin-top: -5%;
}
div.detail section#data article img {
  margin: 0 8px;
  background-color: white;
  border-radius: 10px;
}
div.detail section#data article p {
  text-decoration: none;
  margin: 5% 0;
}
div.detail section#data article p a {
  margin-left: 24px;
  text-decoration: none;
}
div.detail section#data article p a#number {
  letter-spacing: 3px;
}
div.detail section#data article p#footer {
  margin-top: 5%;
}
div.detail section#data article a:hover {
  mix-blend-mode: difference;
}
div.detail section#data article section.contact {
  width: auto;
  height: auto;
  display: flex;
  justify-content: left;
  padding: 0% 10%;
}
div.detail section#data article p {
  margin-top: -2%;
  font-size: 90%;
  font-weight: bold;
  text-wrap: wrap;
}
div.detail section#gbr {
  order: 1;
}
div.detail section#gbr img {
  width: 100%;
  height: 100%;
  fill-opacity: 2px;
}/*# sourceMappingURL=detail.css.map */