@import './Data/navbar.scss';

section {
    margin: 10rem 10rem 3rem 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    .container {
        color: #fff;
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        
        .portofolio-thumbnail {
            img {
                width: 100%;
                height: 10rem;
            }
        }

        .portofolio-text {
            background-color: #1c1c1c;
            & * {
                margin: 5px 8px 5px 10px;
            }
            h2 {
                span {
                    color: #928e8e;
                }
            }   
        }

        .portofolio-acces {
            a {  
                text-decoration: none; 
               .portofolio-image {
                display: flex;
                flex-direction: center;
                background-color: rgba(16, 225, 30, 0.831);
                border-radius: 10px;
                color: #fff;
                width: 100px;
                    span {
                        font-size: 0.8rem;
                    }
                    img {
                        width: 1rem;
                        height: 1rem;
                    }
               }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    section {
        grid-template-columns: repeat(2, 1fr);
        margin: 10rem 6rem 3rem 6rem;
    }
}
@media screen and (max-width: 1024px) {
    section {
        grid-template-columns: repeat(2, 1fr);
        margin: 10rem 6rem 3rem 6rem;
    }
}





