@import './Data/mixin';
@import './Data/var';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: url('../Image/Logo/background_in_space.gif');

    font-family: 'Nunito Sans';
}

section {
    @include grid();
    margin: auto;
    

    header {
        order: 2;
        main {
            max-width: 32rem;
            margin: 2.5rem auto;
            background-color: #283a35;
            border-radius: $br;
            position: relative;
            overflow: hidden;
            z-index: 9999;

            .container-card-signin {
                z-index: 999;
                margin: 3rem;
                position: relative;
                .back {
                    @include flex-custom(row, flex-end, center);
                    margin-bottom: 2rem;
                }
                .logo {
                    @include flex-custom(row, flex-start, center);
                    margin: 1rem 0;
                    img {
                        @include wh(6rem, 3rem);

                    }
                }
        
                .text {
                    margin: 2rem 0 2rem;
                    font-size: 0.8rem;
                    color: #151515;
                    font-weight: 500;
                    text-align: center;
                }
            
                form {
                   @include flex-column();
                   margin: 2rem 0;
                   width: 400px;
                    .wrapper-container-form {
                        @include flex-row();

                        width: 100%;
                        .container-form {
                            width: 100%;
                            @include flex-column();
                            position: relative;
                            margin-bottom: 15px;
                            gap: 15px;
                            
                            input {
                                margin: -10px;
                                width: 180px;
                                padding: 0.6rem  0.8rem;
                                display: inline-block;
                                border: none;
                                outline: none;
                                font-size: 16px;
                                border-bottom: 2px groove #fdfdfd;
                                background-color: transparent;
                                &:focus {
                                    border: 2px groove #40cebf;
                                    border-radius: $br;
                                }
                            }
                            .wrapper-eye {
                                @include flex-custom(row, space-between, center);
                                position: relative;
                                input {
                                    position: relative;
                                    width: 180px;
                                }
                                button {
                                    @include wh(1.5rem, 1.5rem);
                                    position: relative;
                                    left: -2rem;
                                    width: 0;
                                    background-color: transparent;
                                    border: none;
                                }
                            }
                            
                        }
                    }
                    
                    .checkbox-container {
                        @include flex-custom(row, space-between, center);
                        width: 400px;
                    }
                    .submit-form {
                        @include flex-row();
                        button.daftar {
                            @include wh(13rem, auto);
                            margin: 25px 0;
                            padding: 10px 20px;
                            border-radius: $br;
                            border: none;
                        }
                    }
                    
                    
                    footer  {
                        @include flex-custom(column, center, center);
                        width: 400px;
                        
                        
                        .line {
                            @include flex-row();
                            width: 22rem;
    
                            hr {
                                width: 9rem;
                            }
    
                            p {
                                margin: 0 0.8rem;
                            }
                        }
    
                        .signIn-options {
                            @include flex-custom(row, space-between, center);
                            @include wh(12rem, 3rem);
                            margin: 1rem 0 0.5rem;
                            a {
                                img {
                                    @include wh(1.8rem, 1.8rem);
                                }
                            }
                        }
                    }
                }
            }
            
            &::before {
                content: '';
                position: absolute;
                width: 300px;
                height: 1200px;
                top: -150px;
                background: linear-gradient(#4ef1e1 ,#53d5f6);
                animation: rotate 4s linear infinite;
            }

            &::after {
                content: '';
                position: absolute;
                background: #fff;
                border-radius: $br;
                inset: 5px;
            }
            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    aside {
        order: 0;
        @include flex-custom(row, center, center);
        .image-signin {
           
            img {
                @include wh(500px, 600px);
                margin: auto;
            }  
        } 
        
        .floating {
            display: none;
        }
    }
    canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;

    }
}


@media screen and (max-width: 1024px) {
    section {
        @include flex-custom(row,space-between, center);
        width: 750px;
        height: 600px;
        min-width: 500px;
        
        border-radius: calc(#{$br} * 1.6px);
        position: relative;
        overflow: hidden;

        header {
            
            min-width: 300px;
            width: 400px;
            main {
                width: 100%;
                position: relative;
                background-color: #fff;
                margin: 0;
                height: 590px;
                margin-right: 5px;
                border-radius: 0 $br $br 0;
                .container-card-signin {
                    margin:5rem 3rem 0 3rem;
                    .logo {
                        @include flex-row();
                    }
            
                    .text {
                        text-align: start;
                        margin-top: 1rem;
                        h1 {
                            margin-top: 2rem;
                        }
                    }

                    form {
                        width: 100%;
                        .container-form {
                            input {
                                width: 300px;
                            }

                            .wrapper-eye {
                                width: 300px;
                            }
                            
                        }
                        .checkbox-container {
                            @include flex-custom(row, space-between, center);
                            width: 300px;
                        }
                        footer {
                            display: none;
                        }
                    }
    
                }  
                
                &::before, &::after {
                    content: none;
                }
            }      
        }
        aside {
            order: 2;
            position: relative;
            width: 100%;
            @include flex-custom(row, center, flex-start);
            max-width: 400px;
            width: 300px;
            order: 1;
            padding: 0 0 0 3rem;
            
            .image-signin {
                
                img {
                    @include wh(300px, 400px);
                    margin: auto;
                }  
            }
            .floating {
                position: absolute;
                top: 360px;
                width: 240px;
                height: 100px;
                @include flex-custom(column, center, center);
                color: white;

                hr {
                    width: 100%;
                }
                .signIn-options {
                    @include flex-custom(row, space-between, center);
                    @include wh(12rem, 3rem);
                    margin: 1rem 0 0.5rem;
                    width: 150px;
                    a {
                        img {
                            @include wh(1.6rem, 1.6rem);
                        }
                    }
                }
            } 
        }
        &::before {
            content: '';
            position: absolute;
            width: 300px;
            height: 2500px;
            top: -150px;
            background: linear-gradient(#4ef1e1 ,#53d5f6);
            animation: rotate 4s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            background: url('/Image/background_in_space.gif');
            border-radius: $br;
            inset: 5px;
        }
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
canvas {
    z-index: 90;
}   
    
}

@media screen and (max-width: 800px) {
    * {
        color: white;
    }
    section {
        width: auto;
        @include flex-custom(row, center, center);
        header {
            main {
                background: url('/Image/background_in_space.gif');
                background-color: rgba(0, 0, 0, 0.5);
                border: 2px solid rgba(255, 255, 255, .2);
                backdrop-filter: blur(20px);
                margin: auto;
                z-index: 999;
                border-radius: $br;
                .container-card-signin {
                    z-index: 9999;
                    .logo {
                        @include flex-row();
                    }
            
                    .text {
                        text-align: start;
                    }

                    form {
                        width: 100%;
                        .container-form {
                            input {
                                width: 100%;
                            }
                            
                        }
                    }
                }
                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 200px;
                //     height: 1200px;
                //     top: -150px;
                //     background: linear-gradient(#4ef1e1 ,#53d5f6);
                //     animation: rotate 4s linear infinite;
                // }
    
                // &::after {
                //     content: '';
                //     position: absolute;
                //     background: #fff;
                //     border-radius: 10px;
                //     inset: 5px;
                // }
                // @keyframes rotate {
                //     from {
                //         transform: rotate(0deg);
                //     }
                //     to {
                //         transform: rotate(360deg);
                //     }
                // }
            }
        }
        
        aside {
            display: none;
        }

        &::before, &::after {
            content: none;
        }
    }
}

